@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
header {
  padding: 30px;
}
header img {
  width: 100px;
  border-radius: 25px;
}
header h1 {
  margin-right: 250px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meow {
  margin: 0 auto;
  width: 85%;
}
header nav a {
  padding: 40px;
  text-decoration: none;
  opacity: 0.5;
}
header nav a:first-child {
  margin-left: 0;
}
.first-link {
  color: black;
  opacity: 1;
}

.guitar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}
.guitar-wrapper {
  margin: 0 auto;
  width: 80%;
}
.guitar-img {
  width: 500px;
}
.guitar-text h1 {
  font-size: 1.75rem;
}
.guitar-btn {
  background-color: rgb(3, 3, 51);
  color: white;
  padding: 15px 35px;
  border-radius: 25rem;
  border: none;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}
.services-wrapper {
  width: 85%;
  margin: 0 auto;
}
.services-text {
  text-align: center;
}
.services-text p {
  color: gray;
}
.services-text hr {
  width: 70px;
  height: 2px;
  background-color: black;
  margin: 35px auto;
}
.services-text h1 {
  font-size: 1.75rem;
}
#services {
  margin-top: 135px;
}
.services-cards .card {
  background-color: white;
  width: 325px;
  padding: 25px;
  box-shadow: 0 0 15px 0 grey;
  border-radius: 2rem;
}
.cards-row {
  display: flex;
  justify-content: space-between;
}
.services-cards {
  margin: 35px 100px;
}
.card img {
  width: 100px;
  text-align: center;
}
.default {
  padding: 15px 35px;
  border-radius: 25rem;
  border: none;
  background-color: white;
  color: rgb(3, 3, 51);
  border: 1px solid;
  border-color: rgb(3, 3, 51);
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}
.btn-container {
  text-align: center;
  margin-bottom: 60px;
}
.cards-row:first-child {
  margin-bottom: 33px;
}
.projects-wrapper {
  margin: 0 auto;
  width: 70%;
}
.project img {
  width: 50%;
}
.project-text {
  width: 40%;
}
.projects-container > * {
  margin-bottom: 175px;
}
.projects-container > *:last-child {
  margin-bottom: 30px;
}
.project-text hr {
  width: 60px;
  height: 2px;
  background-color: black;
  margin: 25px 0;
}
.project-btn {
  padding: 15px 35px;
  border-radius: 25rem;
  border: none;
  background-color: white;
  color: rgb(3, 3, 51);
  border: 1px solid;
  border-color: rgb(3, 3, 51);
  font-family: "Work Sans", sans-serif;
  margin-top: 10px;
  font-size: 1rem;
}
.project {
  display: flex;
  justify-content: space-between;
}
.right-aligned {
  flex-direction: row-reverse;
}
.project-text h1 {
  font-size: 1.75rem;
}
.news-wrapper {
  width: 85%;
  margin: 0 auto;
}
.news-text {
  text-align: center;
}
.news-text hr {
  width: 70px;
  height: 2px;
  background-color: black;
  margin: 35px auto;
}
.news-cards .card {
  background-color: white;
  width: 400px;
  box-shadow: 0 0 15px 0 grey;
  border-radius: 2rem;
  margin: 10px;
  overflow: hidden;
}
.news-cards {
  margin: 35px 100px;
}
.card a {
  text-decoration: none;
}
.news-cards .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0;
}
.card-info {
  padding: 25px;
}
